<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="./javascripts/hud.js"></script>
    <script type="text/javascript" src="./javascripts/refuel.js"></script>
    <script type="text/javascript" src="./javascripts/p5.js"></script>
    <script type="text/javascript" src="./javascripts/backgroundStar.js"></script>
    <script type="text/javascript" src="./javascripts/p5.sound.js"></script>
    <script type="text/javascript" src="./javascripts/script.js"></script>
    <script type="text/javascript" src="./javascripts/rocket.js"></script>
    <script type="text/javascript" src="./javascripts/p5.dom.js"></script>
    <script type="text/javascript" src="./javascripts/asteroid.js"></script>
  </head>
  <body>

  </body>
</html>
