<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="./javascripts/hud.js"></script>
    <script type="text/javascript" src="./javascripts/refuel.js"></script>
    <script type="text/javascript" src="./javascripts/p5.js"></script>
    <script type="text/javascript" src="./javascripts/backgroundStar.js"></script>
    <script type="text/javascript" src="./javascripts/p5.sound.js"></script>
    <script type="text/javascript" src="./javascripts/script.js"></script>
    <script type="text/javascript" src="./javascripts/rocket.js"></script>
    <script type="text/javascript" src="./javascripts/p5.dom.js"></script>
    <script type="text/javascript" src="./javascripts/asteroid.js"></script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-4742352047602555",
              enable_page_level_ads: true
          });
      </script>
  </head>
  <body>
  <div id="p5_loading" class="loadingclass">Loading something super awesome!</div>
  </body>
</html>
